*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --bg-color: #2e3440;
  --bg-color-accent: #3b4252;
  --font-color: #eceff4;
}
html,
body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  background-color: var(--bg-color);
  font-size: 22px;
}
body {
  counter-reset: delay-increment;
}
a {
  color: var(--font-color);
  border-bottom: 2px solid var(--font-color);
  text-decoration: none;
}
#app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3em auto 1fr;
  color: var(--font-color);
}
#block {
  padding: 2em;
  margin: 1em;
}
#divider.divider-dark {
  fill: var(--bg-color);
}
#divider.divider-light {
  fill: var(--font-color);
}
#home {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  grid-row: 2;
  grid-column: 1 / span 3;
  position: relative;
}
#home #block {
  padding: 16em;
  width: 100%;
  margin: 0;
  position: relative;
}
#home #social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#home #social-links * {
  list-style: none;
  margin-top: 1em;
  max-width: 15vw;
  max-height: 15vw;
}
#home #banner-image {
  background-size: cover;
  background-position: 50%;
  height: 50ch;
  width: 100vw;
  align-self: center;
}
.light {
  background-color: #eceff4;
  color: #2e3440;
}
.dark {
  color: #eceff4;
  background-color: #2e3440;
}
header {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  background-color: var(--bg-color-accent);
  display: flex;
  padding: 2em;
  top: 0;
  position: relative;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header li {
  text-decoration: none;
  list-style: none;
}
header #nav-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-self: left;
}
header #nav-links * {
  margin-left: 1em;
}
header #social-links {
  display: flex;
  flex-flow: row nowrap;
  justify-self: right;
  margin-right: 2em;
}
header #social-links a {
  border: none;
}
header #social-links #social-icon {
  --size: 2em;
  height: var(--size);
  width: var(--size);
  margin-left: 1em;
}
header #social-links #social-icon img {
  height: 100%;
  width: 100%;
}
.sticky {
  position: fixed;
  height: 6em;
  top: 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.sticky #social-links {
  align-items: center;
}
.sticky #nav-links {
  align-items: center;
}
.load-anim {
  animation: load-anim 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  counter-increment: delay-increment;
}
.load-anim:nth-child(1) {
  animation-delay: 100ms;
}
.load-anim:nth-child(2) {
  animation-delay: 200ms;
}
.load-anim:nth-child(3) {
  animation-delay: 300ms;
}
.load-anim:nth-child(4) {
  animation-delay: 400ms;
}
.load-anim:nth-child(5) {
  animation-delay: 500ms;
}
.load-anim:nth-child(6) {
  animation-delay: 600ms;
}
.load-anim:nth-child(7) {
  animation-delay: 700ms;
}
.load-anim:nth-child(8) {
  animation-delay: 800ms;
}
.load-anim:nth-child(9) {
  animation-delay: 900ms;
}
.load-anim:nth-child(10) {
  animation-delay: 1000ms;
}
.load-anim:nth-child(11) {
  animation-delay: 1100ms;
}
.load-anim:nth-child(12) {
  animation-delay: 1200ms;
}
.load-anim:nth-child(13) {
  animation-delay: 1300ms;
}
.load-anim:nth-child(14) {
  animation-delay: 1400ms;
}
.load-anim:nth-child(15) {
  animation-delay: 1500ms;
}
.load-anim:nth-child(16) {
  animation-delay: 1600ms;
}
.load-anim:nth-child(17) {
  animation-delay: 1700ms;
}
.load-anim:nth-child(18) {
  animation-delay: 1800ms;
}
.load-anim:nth-child(19) {
  animation-delay: 1900ms;
}
.load-anim:nth-child(20) {
  animation-delay: 2000ms;
}
@keyframes load-anim {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#sketchfab {
  width: 75%;
  justify-self: center;
  display: flex;
  flex-flow: column nowrap;
  grid-row: 2;
}
#sketchfab #view-all {
  margin: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 50%;
  align-self: center;
}
.embeds {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.embeds * {
  margin: 0.1em;
}
#itch {
  width: 75%;
  justify-self: center;
}
#itch .embeds {
  display: flex;
  flex-flow: row wrap;
}
#itch .itch-embed-wrapper {
  margin: 0.1em;
}
#sketchfab-block {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  min-height: 75vh;
  grid-gap: 1em;
  background-color: var(--bg-color-accent);
  padding: 2em;
  margin: 2em;
}
#sketchfab-block #text {
  grid-column: 1;
  grid-row: 1;
}
#sketchfab-block a {
  grid-row: 3;
  grid-column: 1;
}
#sketchfab-block .sketchfab-embed-wrapper {
  grid-column: 2;
  grid-row: 1 / span 3;
}
#sketchfab-block iframe {
  height: 100%;
  width: 100%;
}
#sketchfab-block :nth-child(2n+1) #text {
  grid-column: 2;
  grid-row: 1;
}
#sketchfab-block :nth-child(2n+1) .sketchfab-embed-wrapper {
  grid-column: 1;
  grid-row: 1 / span 2;
}
#sf-embed {
  width: 100%;
  height: 100%;
}
#sf-embed button {
  --size: 10em;
  background: none;
  border: none;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
}
#sf-embed #sf-embed-placeholder {
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  width: 100%;
  background-size: cover 120%;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sf-embed img {
  height: 100%;
  width: 100%;
  transition: 150ms cubic-bezier(0.19, 1, 0.22, 1);
}
#sf-embed img:hover {
  stroke: #444;
  stroke-width: 16px;
}
#link-button {
  background-color: hsl(200, 90%, 50%);
  color: #fff;
  border: none;
  padding: 1em;
  display: inline-block;
  font-size: 1.2em;
  transition: 350ms cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;
  align-items: center;
}
#link-button:hover {
  background-color: hsl(200, 90%, 30%);
}
#social-card {
  --size: 16em;
  flex-grow: 0;
  height: var(--size);
  width: var(--size);
  margin: 2em;
  border-bottom: none;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#social-card img {
  height: 75%;
  width: 75%;
}
#social-card .text {
  visibility: hidden;
  transition: all 150ms ease-out;
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #5e81ac63;
  padding-left: 1em;
}
#social-card:hover .text {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}
