header{
    width: 100%;
    grid-column: 1;
    grid-row: 1;

    background-color: var(--bg-color);

    display: grid;
    grid-template-columns: 1fr auto 1fr;

    li{
        text-decoration: none;
        list-style: none;
    }
    #nav-links{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        grid-column: 3;

        align-items: center;
    }
}
