#home{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    // justify-self: center;

    grid-row: 2;
    grid-column: 1 / span 3;
    position: relative;

    
    #block{
        padding: 16em;
        width: 100%;
        margin: 0;
        position: relative;
    }


    #social-links{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        *{
            list-style: none;
            margin-top: 1em;
            max-width: 15vw;
            max-height: 15vw;
        }
    }

    #banner-image{
        background-size: cover;
        background-position: 50%;
        height: 50ch;
        width: 100vw;
        align-self: center;

    }

}


    
.light{
    background-color: #eceff4 ;
    color: #2e3440;
    
}
.dark{
    
    color: #eceff4 ;
    background-color: #2e3440;
}